<!DOCTYPE html>
<html lang='en' ng-app="CardsAgainstAssembly">

<head>
    <meta charset="utf-8">
    <title>Cards Against Assembly™</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/components/answerCards.js"></script>
</head>

<body ng-controller="CardsCtrl">
    <div class="container">
        <header class='navbar'>
            <h1 class='pull-left'>Cards Against Assembly</h1>
        </header>
        <div class="row">
            <div class="col-sm-12" id="initialize-game" ng-hide="gameStarted">
                <h2>How many people are playing?</h2>
                <input type="number" ng-model="numPlayers" min="3" max="9">
                <button type="button" class="btn btn-primary" ng-click="addPlayers()">add Players</button>
                <div ng-repeat="player in players track by $index">
                    <input type="text" ng-model="player.playerName">
                    <p>Player {{$index +1}} is {{player.playerName}}</p>
                </div>
                <button type="button" class="btn btn-lg btn-primary" ng-click="startGame()">start new round</button>
            </div>
            <div class="col-sm-12" id="startGame" ng-hide="!gameStarted">
                <h2>Players are:</h2>
                <p ng-repeat="player in players track by $index">
                    Player {{$index + 1}} is {{player.playerName}}
                </p>
            </div>
        </div>
        <!-- Let's make a number field and button so we can say how many players -->
        <section id="cards" class='container-fluid'>
            <div class='row'>
                <div class='col-sm-3'>
                    <h2>The Question:</h2>
                    <div class='card'>
                        <h4 class="card-title">{{displayCard}}</h4>
                        <h6>Cards Against Assembly</h6>
                    </div>
                </div>
                <div class="col-sm-9">
                    <answer-cards></answer-cards>
                </div>
            </div>
        </section>
        <footer>
            <p>Made with <span class='heart'>♥︎</span> at General Assembly</p>
        </footer>
    </div>
</body>

</html>
